* {
  box-sizing: border-box;
}

.containers {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 30px;
  background: #fdcde7;
}

.chatBox {
  flex: 1;
  display: flex;
  height: 80px;

  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  border-radius: 8px;

  max-width: 60%;
}

.inputArea {
  display: flex;
  gap: 10px;
}

.inputs {
  flex: 1;

  border-radius: 0.7rem;
  box-shadow: 0 0 0 3px rgba(209, 107, 165, 0.25);
  padding: 10px;
}

.buttons {
  padding: 10px 30px;
  background: #8c256f;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.user {
  align-self: flex-end;
  background: #a43875;
  color: white;
}

.assistant {
  align-self: flex-start;
  background: #f1e0f3;
  color: black;
}
